{% extends '::base_user.html.twig' %} 


 {% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
		'bundles/cestomarticle/css/accueilStyles.css'
		'bundles/cestomarticle/css/owlcarousel/owl.carousel.css'
		'bundles/cestomarticle/css/owlcarousel/owl.transitions.css'
		'bundles/cestomarticle/css/owlcarousel/owl.theme.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	{% endstylesheets %}
{% endblock %}

{% block body %}

	 {% for flashMessage in app.session.flashbag.get('messagesucces') %}
<div class="alert alert-block alert-success">
<div class="flash-notice">

{{ flashMessage }}
</div>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('messageerror') %}
<div class="alert alert-block alert-danger">
<div class="flash-notice">

{{ flashMessage }}
</div>
</div>
{% endfor %}
  
<div class="col-sm-12 ">
<div class="  col-sm-4">
<div class=" widget-main">
<form {{ form_enctype(form) }}  method = "POST"  action = "{{path('cestom_user_image')}}">
<fieldset>
	


{% if membre.photoMimMembre == null  %}
<img  src="{{ asset('assets/avatars/avatarbig.jpg') }}" alt="profil" class="img-responsive img-thumbnail  zoom "/>
{% else %}
<img  src="{{ vich_uploader_asset(membre, 'fichierPhotoMimMembre') }}" alt="profil" class="img-responsive img-thumbnail  zoom "/>
{% endif %}
<div class="row" style="margin-top:10px">
<input id="upload"  class="  btn btn-sm btn-success" type="button"  value="Modifier"/>
</div>
                        <div id="fichier" style="padding:10px" class="  hidden col-sm-12">
							<div class="vich-image">
								<div class="col-sm-10 widget-main">
								<input class= " col-sm-10 " style="padding:10px" type="file" id="form_fichierPhotoMimMembre_file" name="form[fichierPhotoMimMembre][file]" />
								</div>    
							</div>
							<div class="clearfix">														
								<input id="annuler" class=" pull-right btn btn-sm btn-cancel" type="button"  value="Annuler" /> 
							    <input id="valider" class=" pull-left btn btn-sm btn-primary" type="submit"  value="Valider" />                                                                                                                  
							</div>
						</div>	
</fieldset>
</form>
</div>
</div>
<div class="  col-sm-8">
        <div class="widget-main ">
            <form {{ form_enctype(form) }}  method = "POST"  action = "{{path('cestom_user_homepage')}}">

                {% include "CestomUserBundle:GestionCompte:formulaireUser.html.twig" %}
<fieldset>  
<div class="form-actions center">
                                                        <button id="valider" type="submit" class="btn btn-sm btn-success">
                                                            Enregistrer
                                                            <i class="ace-icon fa fa-save icon-on-right bigger-110"></i>
                                                        </button>
                                                    </div>
   
   </fieldset>
            </form>
        </div>
     
    </div>
                                                                                     
	 </div>
     
    </div>
            						
	</div>	


{% endblock %}
 {% block javascripts %}
	
	 <script src="{{asset('assets/js/date-time/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('assets/js/date-time/bootstrap-timepicker.min.js')}}"></script>
    <script src="{{asset('assets/js/date-time/moment.min.js')}}"></script>
    <script src="{{asset('assets/js/date-time/bootstrap-datetimepicker.min.js')}}">< /script>
              < script src = "{{asset('assets/js/jquery.autosize.min.js')}}" ></script>
<script src="{{asset('assets/js/ace-elements.min.js')}}"></script>
<script src="{{asset('assets/js/ace.min.js')}}"></script>

	<script type="text/javascript">
$(document).ready(function() {

           $('#upload').click( function(e) { 

		 $('#fichier').removeClass('hidden');
$('#upload').hide();
		} );

 $('#annuler').click( function(e) { 
                      e.preventDefault();
		 $('#fichier').addClass('hidden');
               $('#upload').show();
		} );
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                    //show datepicker when clicking on the icon
                    .next().on(ace.click_event, function() {
                $(this).prev().focus();
            });
           
	   
        });
        </script>
{% endblock %}
