{% extends '::base_public.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
		'bundles/cestomarticle/css/accueilStyles.css'
		'bundles/cestomarticle/css/owlcarousel/owl.carousel.css'
		'bundles/cestomarticle/css/owlcarousel/owl.transitions.css'
		'bundles/cestomarticle/css/owlcarousel/owl.theme.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
				
	<!--ACTUALITES AU TOGO ET AU MAROC-->
	<!-- Bloc Actualités du TOGO-->
	<div id="main-block">
    <div class="actu_togo">
        <div class="container" id="block-togo">
            <h1>{{block1.pays.pays}}</h1>
            <div class="row">
                <div class="owl-carousel" id="owl_carousel">
                    {% for entity in block1.articles %}
                        <div class="actu_item">
                            <div class="banieres">
                                <div class ="banieresTogo">
                                    {{ entity.categorie.categorie }}
                                </div>
                                <img src="{{ vich_uploader_asset(entity, 'introImgFile') }}" alt="Image article" class="image_actualites"/>
                            </div>
                            <div class="articles_appercu">
                                <h3 class="titre-actualite">
									<!--<a  href="#" class="titre-actualite" onclick="javascript:getPage('{{ path('cestomarticlebundle_article_showPublic', { 'id': entity.id }) }}','main-block');">{{ entity.titre }}</a>--><a  href="{{ path('cestomarticlebundle_article_showPublic', { 'id': entity.id }) }}" class="titre-actualite" >{{ entity.titre }}</a>
								</h3>
                                <span class="intro">
                                    {{ entity.introduction }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
	<!-- Bloc Actualités du Maroc-->
    <div class="bloc-maroc">	

        <section class="container">
            <div class="titre_le_maroc clearfix">
                <h1 class="titre_maroc_droite">
                    {{block2.pays.pays}}
                </h1>
            </div>
            <div class="container-fluid">
                <h3 class="titre-actualite">
                    <!--<a href="#"
						onclick="javascript:getPage('{{ path('cestomarticlebundle_article_showPublic', { 'id': block2.topArticle.id }) }}','main-block');">
						{{block2.topArticle.titre}}
					</a>-->
					<a href="{{ path('cestomarticlebundle_article_showPublic', { 'id': block2.topArticle.id }) }}"
						{{block2.topArticle.titre}}
					</a>
					
                </h3>	
                <div class="row">
                    {% if block2.topArticle %}
                        <article class="col-sm-7">
                            <div>
                                <div class='actu_avance' >
                                    <div class ="banieresMaroc">
                                        {{block2.topArticle.categorie.categorie}}
                                    </div>
                                    <img src="{{ vich_uploader_asset(block2.topArticle, 'introImgFile') }}" alt="Image article" class="image_actualites"/>					
                                </div>
                                <div class="into-top-actualite">
                                    <span>	
                                       <!-- <a  class="intro" href="#"
										onclick="javascript:getPage('{{ path('cestomarticlebundle_article_showPublic', { 'id': block2.topArticle.id }) }}','main-block');"> 
                                            {{block2.topArticle.introduction}}
                                        </a>-->
                                        <a  class="intro" href="{{ path('cestomarticlebundle_article_showPublic', { 'id': block2.topArticle.id }) }}">
											{{block2.topArticle.introduction}}
                                        </a>
                                    </span>							
                                </div>					
                            </div>					
                        </article >
                    {% endif %}

                    <aside class="col-sm-5 aside-article-show">
                        {% for entity in block2.articles %}

                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{{ vich_uploader_asset(entity, 'introImgFile') }}" alt="Image de l'article" class="image_actualites"/>
                                </div>
                                <div class="col-sm-8 ">
                                    <div class="titre_actu_maroc">{{entity.categorie.categorie}}</div>
                                    <div>
                                        <span class="intro intro-annexe">	
                                            <a href="#"
												onclick="javascript:getPage('{{ path('cestomarticlebundle_article_showPublic', { 'id': entity.id }) }}','main-block');">
                                                {{entity.introduction}}
                                            </a>
											<a href="{{ path('cestomarticlebundle_article_showPublic', { 'id': entity.id }) }}">
												{{entity.introduction}}
                                            </a>
											
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </aside>
                </div>
            </div>
        </section>
    </div>
	</div>
    {% endblock %}

	{% block javascripts %}
    {{ parent() }}
    {% javascripts  
		'@CestomArticleBundle/Resources/public/js/owl.carousel.min.js'
		%}
    <script src="{{ asset_url }}" type="text/javascript"></script>
	<script src="{{ asset('assets/js/ajax-html.js')}}"></script>
       
    {% endjavascripts %}


    <script>
        $(document).ready(function(){

            $('#owl_carousel').owlCarousel({
                loop: true,
                items: 4,
                margin: 10,
                navigation: true,
                pagination: false,
                navigationText: ["<div class='navicon'></div>", "<div class='navicon'></div>"],
                beforeUpdate: function() {
                    resetEqualHeight();
                },
                afterInit: function() {
                    makeEqualHeight();
                },
                afterUpdate: function() {
                    makeEqualHeight();
                },
            });
            function resetEqualHeight() {
                $('#owl_carousel .actu_item').css('height', '');
            }
            function makeEqualHeight() {
                var tallest = 0;
                resetEqualHeight();
                $('#owl_carousel .actu_item').each(function(i, el) {
                    el = $(el);
                    if (el.height() > tallest)
                    {
                        tallest = el.height();
                    }
                });
                $('#owl_carousel .actu_item').css("height", tallest + "px");
            }
        });
			</script>
{% endblock %}
