<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Admin Cestom</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('icone-site-cestom.ico') }}" />
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/dataTable.min.css')}}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <!-- page specific plugin styles -->

        <!-- text fonts -->
      <!--  <link rel="stylesheet" href="{{ asset('assets/css/ace-fonts.css')}}" /> -->

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('assets/css/ace.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ace-skins.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ace-rtl.min.css')}}" />
		<!-- Articles new-edit-show-style -->
       <!-- <link rel="stylesheet" href="{{ asset('assets/css/gestion_article.css')}}" /> -->

        <script src="{{ asset('assets/js/ace-extra.min.js')}}"></script>
	<style>
		.bordertable{ 
		border : solid 1px darkgrey ;padding:5px
		}
		.navbar{ 
		background-color:#337ab7
		}
 		.table-header{ 
		background-color:#337ab7
		}
	</style>
        {% block style %}  {% endblock %}
    </head>

    <body class="no-skin">
        <!-- #section:basics/navbar.layout -->
        {% block tetiere %}
            <!-- #section:basics/navbar.layout -->
            <div id="navbar"  class=" navbar navbar-default">
                
                <div class="navbar-container" id="navbar-container">
                    <!-- #section:basics/sidebar.mobile.toggle -->
                    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                        <span class="sr-only">Toggle sidebar</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                    </button>

                    <!-- /section:basics/sidebar.mobile.toggle -->
                    <div class="navbar-header pull-left">
                        <!-- #section:basics/navbar.layout.brand -->
                        <a href="#" class="navbar-brand">
                            <small>
                                {% image '@CestomArticleBundle/Resources/public/images/icone-site-cestom.png' %}
									<img src="{{ asset_url }}" class="etoile-cestom" alt="etoile-cestom"/>
								{% endimage %}
                                Administration Cestom
                            </small>
                        </a>
                    </div>
					
                    <!-- #section:basics/navbar.dropdown -->
 <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
		
                    {% block user %}
                        <!-- #section:basics/navbar.user_menu -->
                        <li class="gray-black">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="{{asset('assets/avatars/avatar2.png')}}" alt="Admin" />
                                <span class="user-info">
                                    <small>Bienvenue,</small>
                                    {{ app.user.username }}
                                </span>

                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>


                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                                <li>
                                    <a href="{{ path('cestom_home')}}">
                                        <i class="ace-icon fa fa-user"></i>
                                       Site Web
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Se deconnecter
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ #section:basics/navbar.user_menu -->
                    {% endblock %}
                </ul>

            </div>

                    <!-- /section:basics/navbar.dropdown -->
                </div><!-- /.navbar-container -->
            </div>

        {% endblock %}
        <!-- /section:basics/navbar.layout -->
        <div class="main-container" id="main-container">
           
            <div id="sidebar" class="sidebar                  responsive">
               

                <ul class="nav nav-list">
                    <li id="menu_membre" class=" main ">
                        <a class="mainactive " href="{{ path('cestom_admin_homepage')  }}">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text"> Membres </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class=" main ">
                        <a href="{{path('cestom_admin_attente_bourse')}}" class="mainactive ">
                            <i class="menu-icon fa fa-money"></i>
                            <span class="menu-text"> Bourse </span>


                        </a>



                    </li>


                    <li id="menu_carteconsulaire" class=" main ">
                        <a href="#" class="mainactive ">
                            <i class="menu-icon fa fa-credit-card"></i>
                            <span class="menu-text"> Carte consulaire </span>


                        </a>

                    </li>
                    <li id="menu_prisecharge" class="main">
                        <a href="#" class="mainactive">
                            <i class="menu-icon fa fa-life-ring"></i>
                            <span class="menu-text"> Prise en charge </span>

                        </a>


                    </li>
                    <li id="menu_ville" class="main">
                        <a class="mainactive" href="{{ path('cestom_admin_ajouter_ville')  }}">
                            <i class="menu-icon fa fa-building"></i>
                            <span class="menu-text"> Gestion des villes </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                   

                    <li id="menu_universite" class="main">
                        <a class="mainactive" href="{{ path('cestom_admin_ajouter_universite')  }}">
                            <i class="menu-icon fa fa-graduation-cap"></i>
                            <span class="menu-text"> Universités </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li id="menu_articles" class="main">
                        <a class="mainactive" href="{{ path('cestomarticlebundle_article')  }}">
                            <i class="menu-icon fa fa-newspaper-o"></i>
                            <span class="menu-text"> Articles </span>
                        </a>

                        <b class="arrow"></b>
                    </li>


                    <li id="menu_articles" class="main">
                        <a class="mainactive" href="{{ path('cestomarticlebundle_categorie')  }}">      
                            <i class="menu-icon fa fa-th-list"></i>
                            <span class="menu-text"> Categories </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            

                <!-- #section:basics/sidebar.layout.minimize -->
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>


            </div>

            <div class="main-content">

                <div class="breadcrumbs" id="breadcrumbs">
                    {% block navigation %}

                    {% endblock %}
                   
                </div>



                <div class="page-content">
                    
                    <div class="page-header">
                        <h1>
                            {% block soustitre %} 

                            {% endblock %}
                        </h1>
                    </div>

                    {% block content %}

                    {% endblock %}

                </div><!-- /.page-content -->


            </div><!-- /.main-content -->

            {% block footer %}
                <div class="footer">
                    <div class="footer-inner">
                        <!-- #section:basics/footer -->
                        <div class="footer-content">
                            <span class="bigger-120">
                                <span class="blue bolder">CESTOM</span>
                                Application &copy; 2014-2015
                            </span>

                            &nbsp; &nbsp;
                            <span class="action-buttons">
                                <a href="#">
                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                </a>

                                <a href="https://www.facebook.com/groups/CESTOM228/">
                                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                                </a>
                            </span>
                        </div>

                        <!-- /section:basics/footer -->
                    </div>
                </div>
            {% endblock %}

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->
		
		<!--style-->
		<style>
			.table-header,.form-actions{
				background-color:#838383;
				text-align:center;
				font-size:xx-large;
			}
			.page-header h1{
				color: black;
			}
		</style>
        <!-- basic scripts -->
        <script src="{{ asset('assets/js/jquery.min.js')}}"></script>

        <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>

        <script src="{{ asset('assets/js/jquery-ui.custom.min.js')}}"></script>
        <script src="{{ asset('assets/js/ace-elements.min.js')}}"></script>

        <script src="{{ asset('assets/js/ace.min.js')}}"></script>
                     
        {% block javascript %}

        {% endblock %}
    </body>
</html>
