<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="{{ asset('icone-site-cestom.ico') }}" />
        <title>Connectez-vous, Cestom</title>

        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <!-- page specific plugin styles -->

        <!-- text fonts -->
      <!--  <link rel="stylesheet" href="{{ asset('assets/css/ace-fonts.css')}}" /> -->

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('assets/css/ace.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ace-skins.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ace-rtl.min.css')}}" />

        <script src="{{ asset('assets/js/ace-extra.min.js')}}"></script>
        {% block style %}  {% endblock %}
    </head>

 <body class="container-fluid">
		<div class="panel panel-primary">
			<span class="panel-heading">
				{% image '@CestomArticleBundle/Resources/public/images/icone-site-cestom.png' %}
					<img src="{{ asset_url }}" class="etoile-cestom" alt="etoile-cestom"/>
				{% endimage %}Authentification</span>
			{% block fos_user_content %}{% endblock %}
		</div>
		
        <!-- basic scripts -->
        <script src="{{ asset('assets/js/jquery.min.js')}}"></script>

        <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>

        <script src="{{ asset('assets/js/jquery-ui.custom.min.js')}}"></script>
        <script src="{{ asset('assets/js/ace-elements.min.js')}}"></script>

        <script src="{{ asset('assets/js/ace.min.js')}}"></script>
                     
        {% block javascript %}

        {% endblock %}
		<style>
			.login-box .toolbar {
				background: #838383;
				border-top: 2px solid #838383;
			}
			.btn-primary, .btn-primary:active, .open .btn-primary.dropdown-toggle {
				background-color: #4CAF50 !important;
				border-color: #4CAF50;
			}
			.login-box .user-signup-link {
				color: #fff;
			}
			body{
				color:black;
				background-color:white;
				background-image: url(../../../images/icone-site-cestom.png);
			}
			.panel-primary>.panel-heading {
				background-color: #838383;
				width: 50%;
				/*color: black; */
				border-color: #838383;
				font-size:25px;
			}
			.panel-primary{
				background-color: #838383;
				border-color: 	  #838383;
			}
			.panel{
				margin-top: 50px;
				width: 320px;
				margin-left: auto;
				margin-right: auto;
			}
			.panel-heading{
				padding:0px;
			}
			</style>
</body>
</html>
