{% extends '::base.html.twig' %}

 

{% block soustitre %} 
    Modification de la catégorie
{% endblock %}


{% block content -%}

    {{ form(edit_form) }}

	<div class="panel">
		<div class="panel-primary">
		
			<span class="record_actions btn btn-default">
			<a href="{{ path(mesRoutes.index) }}">
				Retour
			</a>
			</span>
			<span>
			<a href="{{ path(mesRoutes.new) }}"  class="btn btn-sucess">
				Ajouter une nouvelle <strong>catégorie</strong>
			</a>
			</span>
	
			<span class="pull-right"> 
						{{ form_start(delete_form) }}
						{{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'}}) }}
						{{ form_end(delete_form) }}
			</span>
		
		</div>
	</div>
	<style>
	/*.panel-primary {
		border-color: #337ab7;
		padding: 15px;
		border: 1px solid #838383;
		border-radius: 7px;
		background-color: #838383;
		margin: 25px;
	}
	#cestom_articlebundle_categorie_submit {
		margin: 25px;
		width: 100px;
		font-size: x-large;
		margin-left: 50%;
		border-raduis: 10px;
		border-radius: 10px;
		border-color: #838383;
		color: #0A0909;
	}
	#cestom_articlebundle_categorie_submit:hover{
		border-color:#FFC107;
	}*/
/*#cestom_articlebundle_categorie_submit:hover {
    border-color: #FFC107;
}

#cestom_articlebundle_categorie_submit {
    left: 40%;
    background-color: aquamarine;
    font-size: x-large;
    border-radius: 7px;
    margin-left: 40%;
}

*/
	</style>
{% endblock %}
