
	<!--Affichage de l'article-->
	
	<div clas="container">
	<div class="panel panel-primary">
		<div class="categorie-label">
			<h3>
				<span>{{ entity.pays.pays }}</span>
				<i class="fa fa-caret-right"></i>
				<span>{{ entity.categorie.categorie }}</span>
			</h3>
		</div>
		<div class="panel panel-titre"><h1>{{ entity.titre }}</h1></div>
		<img src="{{ vich_uploader_asset(entity, 'introImgFile') }}" alt="image article" class="img-responsive images_articles img-rounded "/>
		<p class="contenu-article">{{ entity.contenu }}</p>

		<span class="date-article">
			Publié le {{ entity.creation|date('Y-m-d H:i:s') }}
		</span>
		<div>
			<span>Lire d'autres articles ou <a href="{{path('cestom_home')}}"> retourner à l'accueil</a> </span>
			
			<nav>
			  <ul class="pager">
				<li><a href="#" title="Aller à l'article précédent" onclick="javascript:getPage('{{ path('cestomarticlebundle_article_showPublic', { 'id': entity.id - 1 }) }}','main-block');">Précédent</a></li>
				<li><a href="#" title="Aller à l'article suivant" onclick="javascript:getPage('{{ path('cestomarticlebundle_article_showPublic', { 'id': entity.id + 1 }) }}','main-block');" >Suivant</a></li>
			  </ul>
			</nav>
		</div>
		
	</div>
	
	<style>
		p {
			margin: 0 0 10px;
			text-indent: 50px;
			font-family: "palatino linotype", palatino, georgia, serif;
			text-align: justify;
			font-size: 1em;
			line-height: 1.4em;
			color: #333;
			text-shadow: white 1px 1px 0px;
			padding: 20px;
		}
		
		.date-article{
			vertical-align:center;
			margin-top:30px;
			font-size:12px;
			color: #ECBE0E;
		}
		img.images_articles{
			float: left;
			position: relative;
			/* left: 10px; */
			/* margin: 15px; */
			margin-right: 30px;
			width: 100%;
			max-height: 600px;
			max-width: 600px;
			vertical-align: text-top;
		}
		.categorie-label{
			background-color:#838383;
			border-color:#838383;
			color: #fff;
			border-radius: 15px;
			text-decoration:uppercase;
		}
		.panel-primary {
			padding: 10px;
			margin: 10px;
			max-width: 70%;
			position: relative;
			left: 15%;
			vertical-align: middle;
			border-color: #838383;
			font-size: 16px;
			-webkit-box-shadow: 3px 3px 6px #A9A9A9;
			box-shadow: 3px 3px 6px 0 #A9A9A9;
			background-color: #F3F3F3;
		}	
		.panel-primary>.panel-heading-article {
			color: #fff;
			background-color: #838383;
			border-color: #838383;
			text-decoration: uppercase;		
		}
		.panel-titre {
			margin: 10px;
			background-color: #E9EEF3;
			text-align: center;
		}
		.panel-titre,.panel-primary>.panel-heading,.panel-primary{
			border-radius:10px;
		}
		.rigth {
			text-align: right;
		}
		.left {
			text-align: left;
		}
		.pager li>a, .pager li>span {
			border: 1px solid #838383;
		}
		span a {
			color: blue;
		}
		.pager li>span: hover, .pager li>a:hover{
			background-color: #ECBE0E;
		}
		.categorie-label h3>span,.categorie-label h3>i{
			padding: 10px;
			color: #fff;
			
		}
		.categorie-label h3>span{
			text-decoration:underline;
		}
	</style>
	</div>
