
{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block style %} 
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/dataTables.bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.bootstrap.min.css')}}" />

{% endblock %}


{% block navigation %}


    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('cestom_admin_homepage')}}">Home</a>
        </li>
        <li>

            <a href="{{path('cestom_admin_ajouter_universite')}}">Gestion des universités</a>
        </li>

        <li class="active">Liste des universités</li>
    </ul>

{% endblock %}



{% block soustitre %} 

    Gestion des universités/Ecole

{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('messagesucces') %}
        <div class="alert alert-block alert-success">
            <div class="flash-notice">

                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('messageerror') %}
        <div class="alert alert-block alert-danger">
            <div class="flash-notice">

                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="widget-body">
        <div class="widget-main no-padding">

            <div class="row">
                <div class="col-xs-12">
                   
                            <!-- #section:elements.tab -->
                                                                       
                                                <div class="table-header">
                                                    Liste des universités
                                                </div>
 <br>
                                    <div class="table-responsive">
                            
                                 <table id="listuniv" style= "border : solid 1px darkgrey; " class="table table-striped table-bordered ">
                                          
                                     <thead >
                                                        <tr>
                                                       
                                                            <th> Action</th>
                                                            <th>Nom de l'université  </th>
                                                                                                                       <th>Contact </th>
                                                            <th>Adresse </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for universite in universites %}
                                                            <tr>

                                                                <td>

                                                                    <a class="green" href="{{path('cestom_admin_modifier_universite',{'iduniversite': universite.iduniv})}}">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>

                                                                </td>

                                                                <td>{{ universite.nomuniv}}</td>
                                                                                                                                <td>{{ universite.contactuniv}}</td>
                                                                <td>{{ universite.addresseuniv}}</td>


                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    
                                                </table>
                           
                                    </div>
 <form {{ form_enctype(form) }}  method = "POST"  action = "{{ path('cestom_admin_ajouter_universite')}}">	
 <fieldset>
                    <div class="col-sm-12 widget-main">
                        <h4 class="header  bolder smaller">
                            Ajouter une nouvelle université
                        </h4>
                    </div>
                                                    {% include "CestomAdminBundle:GestionMembre:formulaireUniversite.html.twig" %}
                                                    <div class="form-actions center">
                                                        <button id="valider" type="submit" class="btn btn-sm btn-success">
                                                            Ajouter
                                                            <i class="ace-icon fa fa-save icon-on-right bigger-110"></i>
                                                        </button>
                                                    </div>
 </fieldset>
                                                </form>
                            <!-- /section:elements.tab -->
                        </div><!-- /.col -->



                    </div><!-- /.row -->



                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
      
{% endblock %}

{% block javascript %}
    
     <script src="{{asset('assets/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript"src="{{asset('assets/js/dataTables.responsive.min.js')}}"></script>
    <script type="text/javascript">
                                                            jQuery(function($) {
//datepicker plugin
                                                          
                             
                                  $('.main').removeClass('active');
                                  $('#menu_universite').addClass('active');
                                                                $('#listuniv').DataTable({
                                                                    
                                                                    "language": {
            "lengthMenu": "Afficher _MENU_ lignes",
            "zeroRecords": "Aucune donnée retrouvée",
             "sSearch": "Rechercher",
            "info": "Page _PAGE_ sur _PAGES_",
            "infoEmpty": "Aucune donnée",
            "oPaginate": {
            "sFirst":    "Premier",
            "sLast":    "Fin",
            "sNext":    "  Suivant  ",
            "sPrevious": "  Précédent  "
        },
            "infoFiltered": "(filtré sur _MAX_ total lignes)"
        }
                                                                });
                                                            });
    </script>

{% endblock %}


