 {{ form_errors(form) }}
                 <fieldset >
                    <div class="col-sm-10 widget-main">
                        <h4 class="header blue bolder smaller">
                            Gestion des universités
                        </h4>
                    </div>			
                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.nomuniv, "Non de l'université/Ecole", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.nomuniv, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>

                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.contactuniv, "Contact de l'université", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.contactuniv, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>
                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.addresseuniv, "Adresse ", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.addresseuniv, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>

                  
                </fieldset>
                        
            {{ form_rest(form) }}

                