 {{ form_errors(form) }}
                	<fieldset >		
                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.libelleFormation, "Libelle de la formation", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.libelleFormation, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>

                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.iduniv, "Université", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.iduniv, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>
                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.diplomeViseFormation, "Diplôme visé ", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.diplomeViseFormation, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>

                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.dureeFormation, "Durée de la formation ", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.dureeFormation, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>
                       
                        <div class="col-sm-10 widget-main">

                                    <label class = "col-sm-3 control-label bold" for="dateDebutFormation">
                                        Date début formation
                                    </label>

                                    <div class="input-group col-xs-10 col-sm-5">
                                        <input value="{{dateDebutFormation}}" name="dateDebutFormation" class=" required form-control date-picker" id="datenaissance" type="text" data-date-format="dd-mm-yyyy" />
																<span class="input-group-addon">
																	<i class="fa fa-calendar bigger-110"></i>
																</span>
                                    </div>
                        </div>
                       
                        
			

                    <div class="col-sm-10 widget-main">

                        {{ form_label(form.programmeBourse, "Programme de bourse ", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}

                        {{ form_widget(form.programmeBourse, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}

                    </div>
                </fieldset>
                        
            {{ form_rest(form) }}

                
